<h1>Login</h1>
<form action="/session" method="post">

  <%= auth_token %>
  <label for="Username">Username</label><br>
  <input type="text" name="user[user_name]"><br>

  <br>
  <label for="password">Password</label><br>
  <input type="password" name="user[password]"><br>

  <br>

  <input type="submit" value="Submit">
</form>

<%= link_to "Not a member?", new_user_url %>
