<li>
  <%= link_to sub.title, sub_url(sub) %>
  <% if is_moderator?(current_user, sub) %>
    <%= link_to "Edit", edit_sub_url(sub) %>
    <%= button_to 'Delete', sub_url(sub), method: :delete %>
  <% end %>


</li>
