<h4>Add Comment</h4>
<form class="" action="<%= comments_path %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[post_id]" value="<%= post.id %>">

  <textarea name="comment[content]" rows="8" cols="40"></textarea>

  <br><br>
  <input type="submit"  value="Submit">
</form>
